body{
    background:#f8f8f8;
    font-family: 'Droid Serif', serif;
    font-size: 11px;
    min-height: 580px;
    /*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif; //headings
    font-family: 'Raleway', sans-serif;
    font-family: 'Droid Serif', serif; //body
    font-family: 'Oxygen', sans-serif;
    font-family: 'Nunito', sans-serif; //logo
    font-family: 'Josefin Sans', sans-serif; //buttons
    */
}
.not-out {
  display:none;
}
.no-extra {
  display:none;
}
.teams-radio {
    margin-left: 1em;
    margin-top: 0.2em;
}
.common-sc{
 margin: 5px;
 padding: 5px;
 border-bottom: thin solid #000;
}
.past-balls span{
  display: inline-block;
  background: #fff;
  border-bottom: thin solid #000;
  text-align: center;
}
.current-action-inner {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: thin solid #eee;
}
span.add-run-text {
    font-weight: 700;
    font-style: italic;
    margin-right: 10px;
}
.last-ten-balls {
    margin-right: 5px;
    padding: 0px 5px;
    border-bottom: thin solid #aaa;
}
.score-info td{
  padding: 5px 0px 0px 5px;
}

.table{
  margin:0px;
}

ol.inner-nav {
    list-style: none;
}

li.add-match-li {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
}

li.add-match-li a.active{
  background: #eee;
}

h5.main-heading-view {
    border-bottom: thin solid #eee;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.current-batsman-name, .current-bowler-name, .add-run-text {
  font-weight: 700;
}

.scorecard-details.ng-scope {
    margin-top: 20px;
    margin-bottom: 10px;
}
span.yet-to-bat-players.ng-binding.ng-scope {
    font-size: 10px;
}

.who-is-runout {
    text-align: center;
    display: none;
    width: 100%;
    margin-bottom: 5px;
}
.new-player {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: thin solid #ddd;
    margin-top: 10px;
}

.new-player.intro {
  font-size: 14px;
  font-weight: 600;
}

.team-one-details {
    border-bottom: thin solid #eee;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
}

.team-one-heading.ng-binding {
    font-weight: 700;
    border-bottom: thin solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.right-most-btn {
  position: absolute;
  right: 9%;
}

span.caption-text {
    font-size: 10px;
    display: inline-block;
}

a.navbar-brand {
    font-family: 'Nunito', sans-serif;
}

.btn{
  font-family: 'Josefin Sans', sans-serif;
}

.new-player h5 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: thin solid #eee;
    color: #6f6f6f;
    font-family: 'Montserrat', sans-serif;
}

input[type=text], .form-check.form-check-inline, label.custom-control.custom-radio, .form-check.ng-scope {
    font-family: 'Raleway', sans-serif;
}

label.custom-control.custom-radio {
    margin: 0px 5px;
    padding: 5px 0px 0px 20px;
}

.btn:active, .btn:focus{
  box-shadow : none;
}

.bowling-full-scorecard thead, .batting-full-scorecard thead {
    background: #eee;
    color: #5f5f5f;
    /* font-weight: 900; */
}

.bowling-full-scorecard td, .batting-full-scorecard td {
    padding: 5px 5px;
}

.bowling-full-scorecard, .batting-full-scorecard {
  border-top: thin solid #000;
  border-bottom: thin solid #000;
  margin-bottom: 20px;
}

.player-out{
  color: #aaa;
  font-weight: 100;
}
.current-innings {
    margin: 10px 0px;
    font-weight: 900;
    font-size: 16px;
}


.one-score {
    font-weight: 700;
    margin: 5px 0px;
    border-top: thin solid #aaa;
    padding: 5px 0px;
}

.current-overs {
    float: right;
}

.batting-full-scorecard tbody {
    font-weight: 900;
}

.out-status {
  float:right;
}

a.navbar-brand {
    text-align: center;
}

.score-card-info {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.team-name {
    font-weight: 900;
    font-size: 14px;
    margin-right: 20%;
}

/*.new-match-total {
    display: inline-block;
    background: #0275d8;
    color: #fff;
    padding: 5px;
    margin-left: 15px;
    width: 25px;
    text-align: center;
    vertical-align: top;
}*/
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 100%;
    display: inline-block;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    display: inline-block;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 100%;
    display: inline-block;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100%;
    display: inline-block;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.container.full-scorecard.ng-scope {
    margin-top: 10px;
}

.current-innings.ng-binding {
    font-weight: 900;
    font-size: 16px;
}

.one-score.ng-binding.ng-scope {
    padding: 10px 0px;
    font-weight: 700;
    font-size: 14px;
}

span.current-overs.ng-binding {
    float: right;
}

.full-scorecard tbody {
    font-weight: 700;
}

.innings-break-score {
    font-size: 16px;
    border-bottom: thin solid #aaa;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

h2.innings-break-text {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}

.first-innings-score.ng-binding {
    font-size: 14px;
    margin-bottom: 5px;
}

.second-innings-score.ng-binding {
    font-size: 14px;
    margin-bottom: 10px;
}

.match-result {
    font-size: 24px;
    font-weight: 900;
}

.score-card-info.to-win.ng-binding.ng-scope {
    font-size: 18px;
    margin: 0px;
    padding-bottom: 5px;
}

a.btn.btn-warning.btn-sm.end-innings-btn.ng-scope {
    float: right;
}

input.change-name{
    border: thin solid #aaa;
    padding-left: 5px;
    width: 65%;
}

.fb-like span, iframe {
    width: 100%!important;
}

.instructions, .end-innings-div {
    display: inline-block;
}

.innings-instructions-end {
    margin-bottom: 5px;
}

.common-sc.score-details {
    background: #f1f1f1;
}

.common-sc.current-batsmen {
    background: #efefef;
}
.common-sc.current-bowler {
    background: #efefef;
}

.common-sc.score-details th, .common-sc.current-batsmen th, .common-sc.current-bowler th {
    font-weight: 900;
    padding: 5px;
}
td.text-left.ng-binding {
    padding: 5px;
}

td.text-left {
    padding: 5px;
}

.score{
  font-size:16px;
}
.score .score-overs{
  font-size: 14px;
  font-weight: 100;
}
.last-six-balls{
  width: 40%;
}
td.player-names {
    width: 55%;
}
span.balls-left-span, span.runs-left-span {
    font-size: 14px;
}


/*.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/
