<div class="container">
  <div class="new-player">
    <h5>Select New Batsman</h5>
    <div class="col-sm-10">
      <div class="form-check" data-ng-repeat = "player in players[0]">
        <label data-ng-if="player.out == false" class="form-check-label">
          <input data-ng-click="selectedPlayer(player.playerId)" class="form-check-input" type="radio" name="batsman" id="{{ player.playerName  }}" value="{{ player.playerName  }}">
          {{ player.playerName  }}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row right-most-btn">
    <button class='btn btn-primary' data-ng-click="changeBatsman()">Select Batsman</button>
  </div>
</div>
