<div class="container">
  <div class="jumbotron">
    <p class="lead">Hello Player, if you are playing a cricket match and want to track the score, crikscore makes it more interesting.</p>
    <hr class="my-4">
    <p>Track individual performances, runs to win and full scorecard. We made it easy to use.</p>
    <p>CrikScore makes Playing and Watching cricket more interesting.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#!/addMatch" role="button">Try Once</a>
    </p>
  </div>
  <div class="fb-like" data-href="https://www.facebook.com/crikscore" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
