<div class="container">
  <div class="jumbotron">
    <p class="lead">Hello Player, using crikscore you can track your score and make playing more awesome.</p>
    <hr class="my-4">
    <p>Track individual performances, runs to win and full scorecard. We made it easy to use.</p>
    <!-- <p>CrikScore makes Playing and Watching cricket more interesting.</p> -->
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#!/addMatch" role="button">Try Once</a>
    </p>
  </div>
  <div class="fb-like" data-href="https://www.facebook.com/crikscore" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
