<div class="scorecard-details">
  <h2 class='innings-break-text'>Innings Break</h2>
  <div class='innings-break-score'>
    {{ matchDetails[0].teamOne}} - {{ matchDetails[0].firstInningsRuns }} / {{ matchDetails[0].firstInningsWkts }}
  <span class='current-overs'>  Overs - {{ matchDetails[0].firstInningsOvers }}</span>
</div>
  <a href='#!/{{ matchDetails[0].matchId }}/changeBatsman' class='btn btn-success btn-sm'>Start Second Innings</a>
  <!-- <a href="#!/{{  matchDetails[0].matchId }}/fullScorecard" class='btn btn-primary btn-sm'>Scorecard</a> -->
</div>
<div class="full-scorecard">
  <div class="two-score">
    <div class="batting-full-scorecard">
      <table class='table'>
        <thead>
          <tr>
            <th>Batsman</th>
            <th>Rn</th>
            <th>Bl</th>
            <th>4s</th>
            <th>6s</th>
          </tr>
        </thead>
        <tbody>
          <tr ng:class="{true:'player-out', false:''}[batsman.out == true]" data-ng-repeat="batsman in players[1]">
            <td data-ng-if='batsman.out == false && (batsman.playerId == current_indi_batsman_stats[0].playerId || batsman.playerId == current_indi_batsman_stats[1].playerId) '>{{ batsman.playerName }}</td>
            <td data-ng-if='batsman.out == true'>{{ batsman.playerName }} <span class='out-status'>OUT</span></td>
            <td>{{ batsman.battingRuns }}</td>
            <td>{{ batsman.battingBalls }}</td>
            <td>{{ batsman.battingFours }}</td>
            <td>{{ batsman.battingSixes }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bowling-full-scorecard">
      <table class='table'>
        <thead>
          <tr>
            <th>Bowler</th>
            <th>Ov</th>
            <th>Rn</th>
            <th>Wk</th>
            <th>Ec</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="bowler in players[0]" data-ng-if="bowler.bowlingOvers != 0">
            <td>{{ bowler.playerName }}</td>
            <td>{{ bowler.bowlingOvers }}</td>
            <td>{{ bowler.bowlingRuns }}</td>
            <td>{{ bowler.bowlingWkts }}</td>
            <td>{{ bowler.bowlingEconomyRate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
