<div class="scorecard-details">
  <h2 class='innings-break-'>Match Ended</h2>
  <div class='first-innings-score'>{{ matchDetails[0].teamOne}} -  {{ matchDetails[0].firstInningsRuns }} / {{ matchDetails[0].firstInningsWkts }}
    <span class='current-overs'> Overs - {{ matchDetails[0].firstInningsOvers }} </span>
  </div>
  <div class='second-innings-score'>{{ matchDetails[0].teamTwo}} -  {{ matchDetails[0].secondInningsRuns }} / {{ matchDetails[0].secondInningsWkts }}
    <span class='current-overs'> Overs - {{ matchDetails[0].secondInningsOvers }} </span>
  </div>
  <div class='match-result'>winner:
    <span class='match-result-winner'>
      {{ matchDetails[0].winner }}
    </span>
  </div>
  <div class="">
      <button data-ng-click="reload()" class='btn btn-success'>Play Another Match</button>
  </div>
</div>
