<div class="">
  <div class="scorecard-details">
    <h5>Batting: {{ players[0][0].teamName }}</h5>
    <div class="common-sc score-details">
      <table class='table'>
        <tr>
          <th>Score</th>
          <th>Overs</th>
          <th>Last 6 balls</th>
        </tr>
        <tr class="current-batsman-name">
          <td class='text-left'>{{ total_runs}}/{{ wickets }}</td>
          <td class='text-left'>{{ current_over }}</td>
          <td class='text-left'>
            <span class='past-balls'>
              <span class='last-ten-balls' data-ng-repeat = "ball in lastSixBalls track by $index">{{ ball }}</span>
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="common-sc current-action">
      <div class="current-action-inner possible-runs">
        <span class='add-run-text'>{{ next_ball }} Runs:</span>
        <button type="button" class="btn btn-default btn-sm" data-ng-click = "currentRun(event)" value="0">0</button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click = "currentRun(event)" value="1">1</button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click = "currentRun(event)" value="2">2</button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click = "currentRun(event)" value="3">3</button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click = "currentRun(event)" value="4">4</button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click = "currentRun(event)" value="5">5</button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click = "currentRun(event)" value="6">6</button>
      </div>
      <div class="current-action-inner current-batsman-name">
        <label class="custom-control custom-radio">
          <input id="wide-ball" name="extra" type="radio" class="custom-control-input" data-ng-click = "addExtra(event)" value="wide" disabled>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Wide</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="no-ball" name="extra" type="radio" class="custom-control-input" data-ng-click = "addExtra(event)" value="noball" disabled>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">NoBall</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="no-extra" name="extra" type="radio" class="custom-control-input" data-ng-click = "addExtra(event)" value="noextra" disabled>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">No Extra</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="byes" name="extra" type="radio" class="custom-control-input" data-ng-click = "addExtra(event)" value="bye" disabled>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Byes</span>
        </label>
      </div>
      <div class="current-action-inner current-batsman-name">
        <label class="custom-control custom-radio">
          <input id="wicket" name="wicket" type="radio" class="custom-control-input" data-ng-click = "addWicket(event)" value="addWicket" disabled>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Out</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="run-out" name="wicket" type="radio" class="custom-control-input" data-ng-click = "addWicket(event)" value="addRunOut" disabled>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Run Out</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="not-out" name="wicket" type="radio" class="custom-control-input" data-ng-click = "addWicket(event)" value="addNotOut" disabled>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Not Out</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="retired" name="wicket" type="radio" class="custom-control-input" data-ng-click = "addWicket(event)" value="addRetired" disabled>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Retired</span>
        </label>
      </div>
      <div class="current-action-inner run-action">
        <button type="button" name="button" data-ng-click="insertScore()" class='btn btn-success btn-sm submit-score' disabled>Submit Score</button>
        <div class="who-is-runout">
          <label class="custom-control custom-radio">
            <input id="{{ current_indi_batsman_stats[0].playerId }}" name="whichBatsman" type="radio" class="custom-control-input" data-ng-click = "whichBatsman(current_indi_batsman_stats[0].playerId)" value="{{ current_indi_batsman_stats[0].playerId }}" disabled>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ current_indi_batsman_stats[0].name }}</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="{{ current_indi_batsman_stats[1].playerId }}" name="whichBatsman" type="radio" class="custom-control-input" data-ng-click = "whichBatsman(current_indi_batsman_stats[1].playerId)" value="{{ current_indi_batsman_stats[1].playerId }}" disabled>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ current_indi_batsman_stats[1].name }}</span>
          </label>
        </div>
      </div>
      <div class="change-anything">
        Change
        <a data-ng-click = "changeStrike()" class='btn btn-info btn-sm change-strike'>Strike</a>
        <a href="#!/{{ matchDetails[0].matchId }}/changeBatsman" class='btn btn-success btn-sm new-batsman'>Batsman</a>
        <a href="#!/{{  matchDetails[0].matchId }}/changeBowler" class='btn btn-warning btn-sm new-bowler'>Bowler</a>
        <a href="#!/{{  matchDetails[0].matchId }}/fullScorecard" class='btn btn-default btn-sm'>Scorecard</a>
      </div>
    </div>
    <div class="common-sc current-batsmen">
      <div class="current-batsman">
        <table class='table'>
          <tr>
            <th>Batsmen</th>
            <th>R</th>
            <th>B</th>
            <th>4</th>
            <th>6</th>
          </tr>
          <tr data-ng-repeat="batsman in current_indi_batsman_stats" class="score-info {{ batsman.class }}">
            <td class='text-left' id="{{ batsman.class }}">{{ batsman.name }}</td>
            <td class='text-left'>{{ batsman.runs }}</td>
            <td class='text-left'>{{ batsman.balls }}</td>
            <td class='text-left'>{{ batsman.fours }}</td>
            <td class='text-left'>{{ batsman.sixes }}</td>
            <!-- <td class='text-left'>{{ batsman.strike_rate }}</td> -->
            <!-- <td class='text-left'>{{ (batsman.runs/batsman.balls)*100 }}</td> -->
          </tr>
        </table>
      </div>
    </div>
    <div class="common-sc curent-bowlers">
      <div class="current-bowler">
        <table class='table'>
          <tr>
            <th>Bowlers</th>
            <th>O</th>
            <th>R</th>
            <th>W</th>
            <th>E</th>
          </tr>
          <tr data-ng-repeat="bowler in current_indi_bowler_stats" class="score-info {{ bowler.class }}">
            <td class='text-left' id="{{ bowler.class }}">{{ bowler.name }}</td>
            <td class='text-left'>{{ bowler.overs }}</td>
            <td class='text-left'>{{ bowler.runs }}</td>
            <td class='text-left'>{{ bowler.wks }}</td>
            <td class='text-left'>{{ bowler.economy_rate }}</td>
            <!-- <td class='text-left'>{{ bowler.strike_rate }}</td> -->
            <!-- <td class='text-left'>{{ batsman.sixes }}</td> -->
            <!-- <td class='text-left'>{{ (batsman.runs/batsman.balls)*100 }}</td> -->
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
